<ion-header>
  <ion-toolbar>
    <ion-title>HCIN Ficha Docencia Verificación Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><h2>HCIN Ficha Docencia Verificación Email</h2></ion-col>      
    </ion-row>  
    <ion-row><ion-col>Por favor revise su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</ion-col></ion-row>  
    <ion-row><ion-col><ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
      Reenviar correo de verificación.
    </ion-button></ion-col></ion-row>                
  </ion-grid>
</ion-content>
