<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>HCIN Ficha Docencia APP - Nuevo usuario</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" #nombre required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Primer apellido</ion-label>
      <ion-input type="text" #apellido1 required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Segundo apellido</ion-label>
      <ion-input type="text" #apellido2 required></ion-input>
    </ion-item>    

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password, nombre, apellido1, apellido2)" expand="block">Solicitar Acceso</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
