<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center"><ion-title>HCIN Ficha Docencia APP</ion-title>    </div>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
        <div class="ion-text-center"><ion-button type="submit" size="medium" (click)="logIn(email, password)">Login</ion-button></div>      
      </ion-col>
    </ion-row>
  </form>
<ion-row>
  <ion-col>
    <ion-text color="dark" >   
      <div class="ion-text-center">
        <p>Si aún no dispone de usuario, regístrese:</p>        
      </div>         
    </ion-text>
  </ion-col>  
</ion-row>
<ion-row>
  <ion-col> 
    <div class="ion-text-center">
    <ion-button type="submit" size="medium" (click)="pageRegistroApp()">Registrarse</ion-button>
    </div>
  </ion-col>
</ion-row>
</ion-content>